<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>NGPL YEAR PICKER</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
<!--      <mat-list-item  >-->
<!--        <mat-icon mat-list-icon>note</mat-icon>-->
<!--        <div >Pipe</div>-->
<!--      </mat-list-item>-->
      <a mat-list-item routerLink="/ngpl-year-picker">Ngpl Year Picker</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="full-width">Documentation</span>
    </mat-toolbar>
    <section class="m-3" id="app-container">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
