<div class="app indigo-light" id="app">
<!--  <ul class="menu" role="menu">-->
<!--    <li><a routerLink="/pipes"> Pipes</a></li>-->
<!--    <li><a routerLink="/iframe"> Iframe</a></li>-->
<!--    <li><a routerLink="/decorators"> Decorators</a></li>-->
<!--    <li><a routerLink="/confirm"> Confirmación</a></li>-->
<!--    <li><a routerLink="/periodo"> Cambio Periodo</a></li>-->
<!--    <li><a routerLink="/common-layout">Common Layout</a></li>-->
<!--    <li><a routerLink="/styles">Styles</a></li>-->
<!--    <li><a routerLink="/directivas">Directivas</a></li>-->
<!--    <li><a routerLink="/componentes">Componentes</a></li>-->
<!--    <li><a routerLink="/reactive-form">Reactive Form</a></li>-->
<!--    <li><a routerLink="/skeleton">Skeleton</a></li>-->
<!--  </ul>-->
<!--  <section>-->
<!--    <router-outlet></router-outlet>-->
<!--  </section>-->
  <app-side-nav></app-side-nav>
  <!--  <ng-snotify class="material"></ng-snotify>-->
  <!--  <alert-area></alert-area>-->
</div>

